/*CHART STYLES*/
/* Global vars */
/*
Styles added on from bootstrap default and sb-admin css 
*/
/*BUTTON FILTER */
.time-filter {
  padding-bottom: 15px;
}
.time-filter button {
  width: 75%;
}
/*METHOD RECEIVED CHART animal services */
.method-chart {
  height: 275px;
}
/*AVERAGE DAYS WIDGET animal services */
#avg-days {
  height: 347px;
}
/**************************/
/* Map filters Styles */
.map-filters {
  padding-left: 25px;
  padding-right: 25px;
}
/* GO selector button */
button#goButton {
  margin-left: 10px;
  width: 75px;
  background-color: #f2f2f2;
  border-color: #337ab7;
  color: #337ab7;
}
button#goButton:hover {
  background-color: #337ab7;
  color: #f2f2f2;
}
button#goButton.active {
  background-color: #337ab7;
}
/**************************/
/* Flot Chart Containers */
.flot-chart {
  display: block;
  height: 400px;
}
.flot-chart-content {
  width: 100%;
  height: 100%;
}
/* Custom Colored Panels */
.huge {
  font-size: 40px;
}
.panel-green {
  border-color: #5cb85c;
}
.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c;
}
.panel-green > a {
  color: #5cb85c;
}
.panel-green > a:hover {
  color: #3d8b3d;
}
.panel-grey {
  border-color: #666;
}
.panel-grey > .panel-heading {
  border-color: #666;
  color: #fff;
  background-color: #666;
}
.panel-grey > a {
  color: #666;
}
.panel-grey > a:hover {
  color: #b52b27;
}
.panel-yellow {
  border-color: #f0ad4e;
}
.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e;
}
.panel-yellow > a {
  color: #f0ad4e;
}
.panel-yellow > a:hover {
  color: #df8a13;
}
